
backend/.vs/backend/FileContentIndex/869184b9-ecbf-4e54-99e3-171c7ad56d22.vsidx
backend/.vs/backend/FileContentIndex/34d91d12-5b53-4612-9889-d4948f78b054.vsidx
backend/.vs/backend/FileContentIndex/81ea5917-d5d0-4961-8800-a432bd64e0d7.vsidx
backend/.vs/backend/FileContentIndex/a7cfcd49-9ba3-441f-87ab-8217449da548.vsidx
backend/.vs/backend/FileContentIndex/daaee2c5-5910-40ad-95bc-a9014d16ef06.vsidx
backend/.vs/backend/FileContentIndex/dae05583-352d-4502-a860-4cf22968185b.vsidx
*.vsidx
backend/appsettings.json
backend/appsettings.json
backend/appsettings.json
*.json
